*{
    margin: 0;
    padding: 0;
    
  }
  body{
    /* min-height: 100vh;
    background: url('laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }
  nav li{
    height: 50px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  nav a:hover{
    background-color: #f0f0f0;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    justify-content: flex-start;
   
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  #logo{
    font-size: 32px;
  }
  #landing-page-about-h {
    font-family: sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: black;
    margin-top: 50px;
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    /* margin-left: 50px; */
    /* display: flex; */
    /* justify-content: flex-start; */
    /* margin-left: 250px; */

}
    /* #landing-page-text{
        width: 80%;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
      }
      #about-main-div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 200px;
        padding: 25px;
      }
     
        
      #about-main-text{
        width: 100%;
        height: auto;
        margin-left:20px ;
        text-align: justify;
        box-sizing: border-box;
      }
      */
     
#about-main-text{
    max-width: 700px;
    margin: 10px,50px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    height: auto;
    width: 100%;
    font-size: 20px;
    font-family: sans-serif;

}
.p5{
    font-size: 20px;

}
#about-main-div{
    display: flex;
    justify-content: space-between;
    
    gap: 50px;

  }
  #about-img-1{
    width: 100%;
    height: auto;

  }
  /* #about-img-div{
    display: flex;
    width: 100%;
    height: auto;
    padding-right: 100px;
  } */
   #about-img-div{
    padding-right: 100px;
   }

   #footer-main-div {
    background: url(light\ blue\ backgrond.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 500px;
  }
  #logo1{
  display: flex;
  justify-content: center;
  align-items:center;
  height: auto;
  width: 100%;
  min-height: 500px;
  color: white;
  
  
  position: relative;
  
  }
  #about-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  
  flex-direction: column;
  
  
  }
  #Contact-text{
    font-size: 20px;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
  }
  #logo3{
    font-size: 50px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-family: sans-serif;
  font-size: 60px;
  font-weight: bold;;}
  #logo3-c{
    font-weight: 100;
    
  
  }
  #container4-l{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
    height: 50px;
    width: 100%;
    background-color: #01465a;
    align-items: center;
    padding: 30px;
    
  }
  .container4-l-child{
    height: 30px;
    width:400px;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .lastdiv-gc{
    font-size: 16px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  }
  #lastdic-gcimg{
    height: auto;
    width: 100px;
  }
  